{
  "openapi": "3.0.0",
  "info": {
    "title": "Gravatar Public API",
    "version": "3.0.0",
    "description": "Gravatar's public profile"
  },
  "servers": [
    {
      "url": "https://api.gravatar.com/v3",
      "description": "Production server"
    }
  ],
  "components": {
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "example": "Personal Website"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com"
          }
        }
      },
      "CryptoCurrency": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "example": "ETH"
          },
          "address": {
            "type": "string",
            "example": "0xABC123..."
          }
        }
      },
      "VerifiedAccount": {
        "type": "object",
        "properties": {
          "service_label": {
            "type": "string",
            "example": "Tumblr"
          },
          "service_icon": {
            "type": "string",
            "format": "uri",
            "example": "https://gravatar.com/icons/tumblr-alt.svg"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.tumblr.com/"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string",
            "description": "The SHA256 hash of the user's primary email address.",
            "example": "31c5543c1734d25c7206f5fd591525d0295bec6fe84ff82f946a34fe970a1e66"
          },
          "display_name": {
            "type": "string",
            "example": "Alex Morgan"
          },
          "profile_url": {
            "type": "string",
            "format": "uri",
            "example": "https://gravatar.com/example"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://0.gravatar.com/avatar/33252cd1f33526af53580fcb1736172f06e6716f32afdd1be19ec3096d15dea5"
          },
          "location": {
            "type": "string",
            "example": "New York, USA"
          },
          "description": {
            "type": "string",
            "example": "I like playing hide and seek."
          },
          "job_title": {
            "type": "string",
            "example": "Landscape Architect"
          },
          "company": {
            "type": "string",
            "example": "ACME Corp"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "gallery": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri",
              "example": "https://0.gravatar.com/userimage/5/04bbd674f72c703f6335e2e7a00acc9a"
            }
          },
          "verified_accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerifiedAccount"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Link"
                },
                {
                  "$ref": "#/components/schemas/CryptoCurrency"
                }
              ]
            }
          },
          "pronunciation": {
            "type": "string",
            "example": "Al-ex Mor-gan"
          },
          "pronouns": {
            "type": "string",
            "example": "She/They"
          },
          "contact_info": {
            "type": "object",
            "properties": {
              "home_phone": {
                "type": "string",
                "example": "+1-555-555-0100"
              },
              "work_phone": {
                "type": "string",
                "example": "+1-555-555-0101"
              },
              "cell_phone": {
                "type": "string",
                "example": "+1-555-555-0102"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "alex@example.com"
              },
              "contact_form": {
                "type": "string",
                "format": "uri",
                "example": "https://example.com/contact-me"
              },
              "calendar": {
                "type": "string",
                "format": "uri",
                "example": "https://example.com/calendar"
              }
            },
            "additionalProperties": false
          }
        }
      }
    }
  },
  "paths": {
    "/profiles/{profileIdentifier}": {
      "get": {
        "summary": "Get profile by identifier",
        "operationId": "getProfileById",
        "parameters": [
          {
            "name": "profileIdentifier",
            "in": "path",
            "required": true,
            "description": "This can either be an email address or the SHA256 hash of an email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}